body,
#app {
  margin: 0;
  min-height: 100vh;
}
html.dark {
  background: #2f3237;
  color-scheme: dark;
}
:root {
  --primary-color: #0071fe;
  --error-color: #f23648;
  --error-bg-color: #fddfe2;
  --success-color: #21a67a;
  --success-bg-color: #e0eee4;
}